@import "tailwindcss";

@theme {
    --color-dark: #3b3b3b;
    --color-darker: #1f1f1f;
    --color-gray: #4a5565;

    --color-dark-blue: #4752c4;
    --color-blue: ##5865f2;
    --color-light-blue: #18CDD0;
    --color-green: #1DB954;
    --color-pink: #B444A9;
}