---
import { ChevronRight } from 'lucide-astro'
import LogoNoBG from '@/assets/img/logoNoBG.webp'
import discord from '@/assets/img/discord.webp'
import { routes } from '@/consts/routes.ts'
import type { Route } from '@/types/routes.ts'
---

<header class="fixed top-0 left-0 w-full h-20 p-4 bg-darker grid place-items-center shadow-md grid-cols-3 z-50">
    <a href="/">
        <img src={LogoNoBG.src} alt="Logo TS" class="h-12 w-auto hover:scale-105 transition-transform duration-300" />
    </a>

    <nav>
        <ul class="flex gap-6 justify-center">
            <li>
                <a
                    href={(routes.league as Route).path}
                    class="relative flex items-center gap-2 px-1 py-1 group"
                >
                    <span class="relative">
                        {(routes.league as Route).name}

                        <span class="absolute left-0 -bottom-0.5 h-0.5 bg-light-blue origin-left transform scale-x-0 transition-transform duration-200 group-hover:scale-x-100 w-full"></span>
                    </span>
                </a>
            </li>

            <li class="relative group pb-1">
            <button type="button" class="relative flex items-center gap-2 px-1 py-1">
                <span class="relative flex items-center gap-2 underline-offset-4 decoration-light-blue">    
                <ChevronRight class="w-6 h-6 shrink-0 transform transition-transform duration-200 group-hover:rotate-90" />
                <span>Postulaciones</span>

                <span class="absolute left-0 -bottom-0.5 h-0.5 bg-light-blue origin-left transform scale-x-0 transition-transform duration-200 group-hover:scale-x-100 w-full"></span>
                </span>
            </button>

            <ul
                class="absolute top-full left-0 bg-darker border border-gray shadow-lg p-2 rounded-md 
                    inline-flex flex-col gap-1 z-50 whitespace-nowrap
                    opacity-0 scale-y-0 pointer-events-none 
                    transition-all duration-200 ease-in-out origin-top
                    group-hover:opacity-100 group-hover:scale-y-100 group-hover:pointer-events-auto"
            >
                {(routes.applications as Route[]).map((application: Route, index: number) => (
                <li class="px-2 py-1">
                    <a
                    href={application.path}
                    class="relative inline-block border-b-2 border-transparent hover:border-light-blue transition-all duration-300"
                    >
                    {application.name}
                    </a>
                    {index < (routes.applications as Route[]).length - 1 && (
                    <hr class="border-t border-gray my-1" />
                    )}
                </li>
                ))}
            </ul>
            </li>
        </ul>
    </nav>

    <div>
    <a
        href={(routes.discord as Route).path}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-3 px-5 py-2 bg-blue text-white font-semibold rounded-full hover:bg-dark-blue hover:scale-105 transition-transform duration-300 shadow-lg"
    >
        <img 
            src={discord.src} 
            alt="Icono de Discord" 
            class="w-6 h-6"
        />
        {(routes.discord as Route).name}
    </a>
    </div>
</header>