<section class="bg-dark h-screen w-full flex items-center justify-center">
  <h1 class="text-2xl font-extrabold text-white drop-shadow-[0_4px_6px_var(--light-blue)]">
    PÁGINA WEB EN DESARROLLO
  </h1>
  <div class="h-20"></div>
</section>