---
import tsleagueBanner from '@/assets/banners/tsleagueBanner.png'
import tsleague from '@/assets/img/tsleague.png'
---

<section class="relative h-auto md:h-80 overflow-hidden rounded-xl shadow-lg">
    <a href="/league" class="group block w-full h-full relative transform transition-all duration-300 hover:scale-105 rounded-xl overflow-hidden">

    <img
      src={tsleagueBanner.src}
      alt="Banner de la TS League"
      class="absolute inset-0 w-full h-full object-cover filter brightness-75 saturate-50 group-hover:brightness-100 group-hover:saturate-100 transition-all duration-500"
    />

    <div class="absolute inset-0 bg-black/20"></div>

    <div class="relative z-10 flex flex-col items-center justify-center h-full text-center px-4">

      <img src={tsleague.src} alt="Icono de la TS League" class="w-30 h-30 md:w-28 md:h-28 mb-2 transform transition-all duration-300 group-hover:scale-110" />

      <button
        class="border-3 border-green text-green bg-transparent font-bold px-4 py-2 shadow-md transition-all duration-300 hover:bg-green hover:text-white hover:scale-105"
      >
        ¡Participar!
      </button>
    </div>
  </a>
</section>