---
import tsleagueBanner from '@/assets/banners/tsleagueBanner.png'
import tsleague from '@/assets/img/tsleague.png'
---

<section class="relative w-full aspect-16/4 overflow-hidden rounded-3xl">
  <a
    href="/league"
    class="group block w-full h-full relative transition-transform duration-300 hover:scale-105 rounded-xl overflow-hidden"
  >
    <img
      src={tsleagueBanner.src}
      alt="Banner de la TS League"
      class="absolute inset-0 w-full h-full object-cover object-center brightness-75 saturate-50 contrast-110 transition-all duration-500 group-hover:brightness-95 group-hover:saturate-95 rounded-xl"
      style="transform: scale(0.95);" 
    />


    <div class="relative z-10 flex flex-col items-center justify-center h-full text-center px-4">
      <img
        src={tsleague.src}
        alt="Icono de la TS League"
        class="
          w-[clamp(5rem,14vw,10rem)]
          h-[clamp(5rem,14vw,10rem)]
          mb-2
          transition-transform duration-300
          group-hover:scale-110
        "
      />

      <p class="text-white text-2xl md:text-4xl font-bold drop-shadow-lg">
        TS League
      </p>
    </div>
  </a>
</section>