---
import Layout from '@/layouts/Layout.astro'
import { routes } from '@/consts/routes.ts'
import type { Route } from '@/types/routes.ts'

const { aplication } = Astro.params

export function getStaticPaths() {
  const applications = (routes.applications as Route[]).filter(
    (application) => application.path !== '/aplications/creators-program'
  )

  return applications.map(({ path }: Route) => ({
    params: { aplication: path.replace('/aplications/', '') }
  }))
}
---

<Layout title={aplication}>
    <section class="bg-dark">
        sdfsdfsdf
    </section>
</Layout>